@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

img {
  max-width: 100%;
}

.btn {
  display: block;
  padding: 10px 5px;
  margin-top: 1rem;
  text-align: center;
  color: #000;
  background: rgb(255, 200, 0);
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background: rgb(255, 166, 0);
  color: #fff;
}

p {
  line-height: 25px;
  text-align: center;
}

.flex {
  display: flex;
  flex: 1;
  gap: 20px;
}

#showcase .container .showcase-flex .flexbox-1, #showcase .container .showcase-flex .flexbox-2, #showcase .container .showcase-flex .flexbox-3, #showcase .container .showcase-flex .flexbox-4, #showcase .container .showcase-flex .flexbox-5,
#showcase .container .showcase-flex .flexbox-6, #showcase .container .showcase-flex .flexbox-7, #showcase .container .showcase-flex .flexbox-8, #showcase .container .showcase-flex .flexbox-9, #showcase .container .showcase-flex .flexbox-10 {
  position: relative;
  width: 100%;
  margin: 20px;
  width: 212px;
  height: 280px;
}
#showcase .container .showcase-flex .flexbox-1:hover .overlay, #showcase .container .showcase-flex .flexbox-2:hover .overlay, #showcase .container .showcase-flex .flexbox-3:hover .overlay, #showcase .container .showcase-flex .flexbox-4:hover .overlay, #showcase .container .showcase-flex .flexbox-5:hover .overlay,
#showcase .container .showcase-flex .flexbox-6:hover .overlay, #showcase .container .showcase-flex .flexbox-7:hover .overlay, #showcase .container .showcase-flex .flexbox-8:hover .overlay, #showcase .container .showcase-flex .flexbox-9:hover .overlay, #showcase .container .showcase-flex .flexbox-10:hover .overlay {
  opacity: 0.9;
}
#showcase .container .showcase-flex .flexbox-1 .overlay, #showcase .container .showcase-flex .flexbox-2 .overlay, #showcase .container .showcase-flex .flexbox-3 .overlay, #showcase .container .showcase-flex .flexbox-4 .overlay, #showcase .container .showcase-flex .flexbox-5 .overlay,
#showcase .container .showcase-flex .flexbox-6 .overlay, #showcase .container .showcase-flex .flexbox-7 .overlay, #showcase .container .showcase-flex .flexbox-8 .overlay, #showcase .container .showcase-flex .flexbox-9 .overlay, #showcase .container .showcase-flex .flexbox-10 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}
#showcase .container .showcase-flex .flexbox-1 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-2 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-3 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-4 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-5 .overlay .flexbox-text,
#showcase .container .showcase-flex .flexbox-6 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-7 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-8 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-9 .overlay .flexbox-text, #showcase .container .showcase-flex .flexbox-10 .overlay .flexbox-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#showcase .container .showcase-flex .flexbox-1 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-2 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-3 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-4 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-5 .overlay .flexbox-text a,
#showcase .container .showcase-flex .flexbox-6 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-7 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-8 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-9 .overlay .flexbox-text a, #showcase .container .showcase-flex .flexbox-10 .overlay .flexbox-text a {
  width: 100px;
}
#showcase .container .showcase-flex .flexbox-1 {
  background: url("/img/product-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-2 {
  background: url("/img/product-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-3 {
  background: url("/img/product-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-4 {
  background: url("/img/product-04.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-5 {
  background: url("/img/product-05.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-6 {
  background: url("/img/product-06.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-7 {
  background: url("/img/product-07.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-8 {
  background: url("/img/product-08.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-9 {
  background: url("/img/product-09.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#showcase .container .showcase-flex .flexbox-10 {
  background: url("/img/product-10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#footer {
  text-align: center;
  padding: 3rem 0;
}/*# sourceMappingURL=styles.css.map */