@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bolder;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

img {
    max-width: 100%;
}

.btn {
    display: block;
    padding: 10px 5px;
    margin-top: 1rem;
    text-align: center;
    color: #000;
    background: rgb(255, 200, 0);
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: rgb(255, 166, 0);
        color: #fff;
    }
}

p {
    line-height: 25px;
    text-align: center;
}

.flex {
    display: flex;
    flex: 1;
    gap: 20px;
}

//showcase
#showcase {
    .container {
        .showcase-flex {
            .flexbox-1, .flexbox-2, .flexbox-3, .flexbox-4, .flexbox-5,
            .flexbox-6, .flexbox-7, .flexbox-8, .flexbox-9, .flexbox-10 {
                position: relative;
                width: 100%;
                margin: 20px;
                width: 212px;
                height: 280px;
                &:hover .overlay {
                    opacity: 0.9;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: 0.5s ease;
                    background-color: #fff;
                    .flexbox-text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                        a {
                            width: 100px;
                        }
                    }
                }
            }

            .flexbox-1 {
                background: url("/img/product-01.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
               
            }
            .flexbox-2 {
                background: url("/img/product-02.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
             
            }
            .flexbox-3 {
                background: url("/img/product-03.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
           
            }
            .flexbox-4 {
                background: url("/img/product-04.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              
            }
            .flexbox-5 {
                background: url("/img/product-05.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            
            }
            .flexbox-6 {
                background: url("/img/product-06.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .flexbox-7 {
                background: url("/img/product-07.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .flexbox-8 {
                background: url("/img/product-08.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .flexbox-9 {
                background: url("/img/product-09.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .flexbox-10 {
                background: url("/img/product-10.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
}

//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}